<div class="head">
  <h1 class="title">List of users [{{ users.length }}]</h1>
  <button (click)="onRefresh()" class="refresh">Refresh</button>
</div>

<div class="body">
  <ul *ngFor="let user of users" class="list">
    <li class="list__item">
      <span class="list__label list__label--id">#{{ user.id }}</span>
      <span class="list__label">First name: <b>{{ user.first_name }}</b></span>
      <span class="list__label">Last name: <b>{{ user.last_name }}</b></span>
      <span class="list__label">Age: <b>{{ user.age }}</b></span>
    </li>
  </ul>
</div>